:root {
  --shadow-sm: 0 2px 8px 0 rgb(99, 99, 99 / 20%);
  --shadow-md: 0 4px 12px 0 rgb(0 0 0 / 20%);
  --shadow-lg: 0 10px 36px 0 rgb(0 0 0 / 16%);
  --shadow-xl: 0 48px 100px 0 rgb(17 12 46 / 15%);
}
