/* text size */
:root {
  --fs-100: 10px;
  --fs-200: 12px;
  --fs-300: 13px;
  --fs-400: 16px;
  --fs-500: 20px;
  --fs-600: 24px;
  --fs-700: 36px;

  /* 
    Fluid typography for smooth scaling between the minimum and maximum value depending on the viewport width
    @link https://utopia.fyi/type/calculator?c=375,50,1.333,1400,75,1.333,0,0,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12
  */

  --fluid-min-width: 375;
  --fluid-max-width: 1400;
  --fluid-screen: 100vw;
  --fluid-bp: calc(
    /* stylelint-disable-next-line scss/operator-no-newline-after */
      (var(--fluid-screen) - var(--fluid-min-width) / 16 * 1rem) /
      (var(--fluid-max-width) - var(--fluid-min-width))
  );
  --fs-800-min: 36;
  --fs-800-max: 50;
  --fs-800: calc(
    /* stylelint-disable-next-line scss/operator-no-newline-after */
      ((var(--f-1-min) / 16) * 1rem) + (var(--fs-800-max) - var(--fs-800-min)) *
      var(--fluid-bp)
  );
  --fs-900-min: 50;
  --fs-900-max: 75;
  --fs-900: calc(
    /* stylelint-disable-next-line scss/operator-no-newline-after */
      ((var(--f-2-min) / 16) * 1rem) + (var(--fs-900-max) - var(--fs-900-min)) *
      var(--fluid-bp)
  );

  /** font weights */
  --font-weight-normal: 400;
  --font-weight-medium: 500;
  --font-weight-bold: 700;
}

@media screen and (width >= 1400px) {
  :root {
    --fluid-screen: calc(var(--fluid-max-width) * 1px);
  }
}

.text-4xl {
  font-size: var(--fs-900);
}

.text-3xl {
  font-size: var(--fs-800);
}

h1,
.text-xxl {
  font-size: var(--fs-700);
}

h2,
.text-xl {
  font-size: var(--fs-600);
}

h3,
.text-lg {
  font-size: var(--fs-500);
}

h4,
.text-md {
  font-size: var(--fs-400);
}

.text-sm,
small {
  font-size: var(--fs-200);
}

.text-xs,
small {
  font-size: var(--fs-100);
}
