@use "reset";
@use "typography";
@use "spacing";
@use "colors";
@use "box-shadow";

html,
body {
  height: 100%;
}

body {
  width: 100%;
  background-color: var(--color-primary);
  color: var(--color-text-primary);
  font-size: var(--fs-300);
}

html {
  scroll-behavior: smooth;
}
