$ui-sidebar-min-width: 420px;

.ui-sidebar {
  position: fixed;
  inset: 0;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  display: flex;
  justify-content: end;
  align-items: center;

  &-content {
    height: 100%;
    min-width: $ui-sidebar-min-width;
    background-color: var(--color-primary);
    transition: 0.3s transform;
    transform: translate($ui-sidebar-min-width);
    z-index: var(--z-indices-sidebar);
  }

  &.opened {
    visibility: visible;
    opacity: 1;
    pointer-events: auto;
    z-index: var(--z-indices-sidebar);

    .ui-sidebar-content {
      transform: translate(0);
    }
  }

  &.is-closing {
    .ui-sidebar-content {
      transform: translate($ui-sidebar-min-width);
    }
  }
}
