@use "/src/app/styles/mixins/responsive" as *;

.main-page {
  height: 100%;
  margin-bottom: var(--space-20);

  &-header {
    padding: var(--space-10) var(--space-5);

    @include responsive("medium") {
      padding: var(--space-10) var(--space-4);
    }
  }

  &-articles {
    &-grid {
      display: grid;
      grid-template-columns: auto;
      grid-template-rows: repeat(4, min-content);

      &-item-long {
        grid-row: auto;
      }

      @include responsive("large") {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);

        &-item-long {
          grid-row: 1 / 4;
        }
      }
    }
  }

  &-product-gallery {
    border: 1px solid var(--color-border-dark);

    &:last-of-type {
      border-top: none;
    }
  }
}
