@use "/src/app/styles/mixins/responsive" as *;

$content-max-w: 350px;
$image-min-h: 280px;
$image-max-h: 585px;
$image-h-large: 395px;
$image-h-medium: 260px;
$image-h-small: 280px;

.article-preview {
  display: grid;
  gap: var(--space-5);
  padding: var(--space-5);

  &-header {
    grid-area: header;
  }

  &-type {
    text-transform: capitalize;
  }

  &-content {
    grid-area: content;
    max-width: 100%;
    display: flex;
    gap: var(--space-6);

    .article-preview-title {
      flex: 1;
    }

    .article-preview-link {
      align-self: flex-end;
    }
  }

  &-image {
    grid-area: image;
    width: 100%;
    height: 100%;
    min-width: 0;
    min-height: $image-min-h;
    max-height: $image-max-h;
    object-fit: cover;
  }

  &.large {
    grid-template-areas:
      "image"
      "header"
      "content";
    grid-template-rows: auto;
    /* stylelint-disable-next-line declaration-block-no-redundant-longhand-properties */
    grid-template-columns: auto;

    @include responsive("medium") {
      grid-template-areas: "header image" "content image";
      grid-template-rows: min-content 1fr;
      /* stylelint-disable-next-line declaration-block-no-redundant-longhand-properties */
      grid-template-columns: max-content;
    }

    .article-preview-content {
      flex-direction: column;

      @include responsive("medium") {
        max-width: $content-max-w;
      }
    }
  }

  &.medium,
  &.small {
    grid-template-areas:
      "header"
      "image"
      "content";
    grid-template-rows: min-content;

    .article-preview-content {
      flex-direction: column;

      @include responsive("small") {
        flex-direction: row;
      }

      .article-preview-description {
        flex: 1;
      }
    }

    .article-preview-image {
      height: $image-h-small;

      @include responsive("small") {
        height: $image-h-medium;
      }

      @include responsive("large") {
        height: $image-h-large;
      }
    }
  }

  &.small {
    .article-preview-content {
      flex-direction: column;
    }
  }
}
