$arrow-width: var(--space-2-5);
$link-arrow-gap: var(--space-2-5);

.ui-link {
  color: var(--color-text-primary);
  transition: all 0.2s;
  cursor: pointer;
  position: relative;

  .arrow {
    position: absolute;
    top: 50%;
    left: calc(($arrow-width + $link-arrow-gap) * -1);
    transform: translate(0, -50%);
    opacity: 0;
    transition: opacity 0.2s;
  }

  &:hover {
    color: var(--color-text-secondary);

    &.with-arrow {
      transform: translate(var(--space-2-5));
    }

    .arrow {
      color: var(--color-text-secondary);
      opacity: 1;
    }
  }

  &:active {
    color: var(--color-accent-dark);

    .arrow {
      color: var(--color-accent-dark);
    }
  }

  &:focus-visible {
    outline-color: transparent;

    /* TODO: update focus styles */
    box-shadow:
      0 0 0 4px white,
      0 0 0 8px var(--color-link);

    .arrow {
      opacity: 1;
    }
  }
}
