@import "/src/app/styles/breakpoints";
@import "/src/app/styles/mixins/responsive";

.footer {
  background-color: var(--color-secondary-dark);

  &-content {
    width: 100%;
    max-width: $app-content-width;
    padding: var(--space-20) var(--space-5) var(--space-14);
    margin: 0 auto;
    display: grid;
    grid-auto-flow: row;
    grid-template-columns: auto;
    gap: var(--space-12);

    @include responsive("large") {
      grid-template-columns: repeat(2, 1fr) min-content 1fr;
    }
  }

  &-column {
    gap: var(--space-10-5);
    flex: 1;
  }

  &-paragraph {
    margin-bottom: var(--space-2);
  }

  &-links {
    gap: var(--space-2);
  }

  .social-links {
    gap: var(--space-4);
  }

  .contact-button {
    margin-top: auto;
  }
}
