@import "/src/app/styles/mixins/responsive";

.about-page {
  height: 100%;

  &-header {
    height: 100%;
    width: 100%;
    padding: var(--space-10) var(--space-4);
    background-size: cover;
    background-image: url("../../../../shared/assets/images/about.png");
    aspect-ratio: 325 / 424;
    background-position: center;

    @include responsive("small") {
      aspect-ratio: 1024 / 637;
    }

    @include responsive("medium") {
      aspect-ratio: 1400 / 761;
    }
  }
}
