@use "/src/app/styles/mixins/responsive" as *;

.article-page {
  .article-hero {
    padding: var(--space-3-5);
    border-bottom: 1px solid var(--color-border-dark);

    @include responsive("medium") {
      padding: var(--space-5);
    }

    &-type {
      text-transform: capitalize;
    }

    &-image {
      width: 100%;
      height: 100%;
      max-height: 585px;
      object-fit: cover;
      margin-bottom: var(--space-5);
      aspect-ratio: 3 / 2;

      &-loading {
        @include responsive("medium") {
          height: 585px;
        }
      }

      @include responsive("medium") {
        aspect-ratio: unset;
      }
    }

    &-content {
      width: 100%;
      gap: var(--space-5);

      @include responsive("medium") {
        width: 50%;
      }
    }
  }
}
