@import "/src/app/styles/mixins/responsive";

.menu {
  &-list {
    display: none;
    align-items: center;

    @include responsive("medium") {
      display: flex;
      gap: var(--space-4);
    }

    @include responsive("large") {
      display: flex;
      gap: var(--space-8);
    }

    &-item {
      padding: 0 var(--space-1);

      @include responsive("large") {
        padding: 0 var(--space-2-5);
      }
    }
  }

  &-mobile {
    display: block;

    @include responsive("medium") {
      display: none;
    }
  }

  &-link {
    text-transform: uppercase;
  }
}
