@import "/src/app/styles/mixins/responsive";
@import "/src/app/styles/breakpoints";

.navbar {
  width: 100%;
  min-height: var(--app-navbar-height);
  border-bottom: 1px solid var(--color-border);

  &-content {
    max-width: var(--app-content-width);
    height: 100%;
    margin: 0 auto;
    display: grid;
    align-items: center;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: "menu logo actions";
    padding: 0 var(--space-4);

    @include responsive("medium") {
      grid-template-areas: "logo menu actions";
    }

    @include responsive("large") {
      padding: 0 var(--space-5);
    }
  }

  /** navbar components */
  &-logo {
    grid-area: logo;
    justify-self: center;

    @include responsive("medium") {
      justify-self: start;
    }
  }

  &-menu {
    grid-area: menu;
    justify-content: center;
  }

  &-actions {
    grid-area: actions;
    gap: var(--space-3);

    @include responsive("large") {
      gap: var(--space-5);
    }

    &-login {
      display: none;

      @include responsive("medium") {
        display: flex;
      }
    }

    &-profile {
      width: 20px;
      height: 20px;
    }
  }
}
