@use "/src/app/styles/mixins/responsive" as *;

.profile-page {
  width: 100%;
  padding: var(--space-10);
  gap: var(--space-10);

  &-info {
    gap: var(--space-6);

    &-form {
      width: 100%;
      gap: var(--space-6);
    }

    &-fields {
      display: flex;
      gap: var(--space-2);
      flex-direction: column;

      @include responsive("medium") {
        gap: var(--space-6);
        flex-direction: row;
      }
    }
  }
}
