@import "/src/app/styles/colors";

$tag-size: 22px;

.color-tag {
  width: $tag-size;
  height: $tag-size;
  position: relative;
  border: none;
  border-radius: 50%;
  transition: 0.2s;
  cursor: pointer;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    transform: scale(1.1);
  }

  &:focus-visible {
    box-shadow:
      0 0 0 2px white,
      0 0 0 4px var(--color-link);
  }

  &::before {
    content: "";
    position: absolute;
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    top: -3px;
    left: -3px;
    border-radius: 50%;
    border: none;
  }

  &.selected {
    &::before {
      border: 1px solid var(--color-accent-dark);
    }
  }
}
