@import "/src/app/styles/colors";

$content-v-max-w: 420px;
$content-h-max-w: 500px;

.article-with-background-preview {
  position: relative;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  .overlay {
    position: absolute;
    inset: 0;
    background-color: var(--color-overlay);
  }

  .content {
    height: 100%;
    position: relative;
    gap: var(--space-5);
    padding: var(--space-28) var(--space-5);
  }

  .title {
    text-transform: uppercase;
  }

  &.vertical {
    .content {
      margin: 0 auto;
      align-items: center;
      max-width: $content-v-max-w;
    }

    .title,
    .description {
      text-align: center;
    }
  }

  &.horizontal {
    .content {
      max-width: $content-h-max-w;
    }

    .title,
    .description {
      text-align: left;
    }
  }
}
